<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Company template</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!--HEADER SECTION-->

<!--NAVBAR-->
<!--=======-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>      
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about" class="text-uppercase">About</a></li>
                <li><a href="#services" class="text-uppercase">Services</a></li>
                <li><a href="#portfolio" class="text-uppercase">Portfolio</a></li>
                <li><a href="#pricing" class="text-uppercase">Pricing</a></li>
                <li><a href="#contact" class="text-uppercase">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="jumbotron text-center">
    <h1>Company</h1>
    <p>We are so good in building</p>
    <form class="form-inline">
        <div class="input-group">
            <input type="email" size="50" class="form-control" placeholder="Email Address" required>
            <div class="input-group-btn">
                <button class="btn btn-danger">Subscribe</button>
            </div>
        </div>   
    </form>
</div>

<!--ABOUT SECTION-->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Company Page</h2>
            <h4>about wheather</h4>
            <p>The best travel</p>
            <button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div> 
    </div>
</div>

<div class="container-fluid bg-grey">    
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>Our values</h2>
            <h4> <strong class="text-uppercase">mission:</strong> Our mission is make the world better</h4>
            <p><strong class="text-uppercase">vision: </strong>Make the best of ours!</p>
        </div>        
    </div> 
</div>

<!--SERVICE SECTION-->
<div id="services" class="container-fluid text-center">
    <h2 class="text-uppercase">Services</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4 class="text-uppercase">Power</h4>
            <p>Lorem ipsum dolor sit, amet...</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4 class="text-uppercase">Love</h4>
            <p>Lorem ipsum dolor sit, amet...</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4 class="text-uppercase">Job done</h4>
            <p>Lorem ipsum dolor sit, amet...</p>
        </div>            
    </div>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4 class="text-uppercase">Green</h4>
            <p>Lorem ipsum dolor sit, amet...</p>
        </div>    
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4 class="text-uppercase">Certified</h4>
            <p>Lorem ipsum dolor sit, amet...</p>
        </div>    
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 class="text-uppercase">Hard work</h4>
            <p>Lorem ipsum dolor sit, amet...</p>
        </div>    
    </div> 
</div>
<!--PORTFOLIO SECTION-->
<div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>Portfolio</h2>
    <h4>What we have created</h4>
    <div class="row text-center slideanim">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="images/pic1.jpg" alt="picture of the city">
                <p><strong>Lisbon</strong></p>
                <p> We build Lisbon</p> 
            </div>   
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="images/pic2.jpg" alt="picture of the city">
                <p><strong>Erice</strong></p>
                <p>We created Erice</p> 
            </div>   
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="images/pic3.jpg" alt="picture of the city">
                <p><strong>Cinque Terre</strong></p>
                <p>Yes, Cinque Terre is ours</p> 
            </div>   
        </div>
    </div>


    <!--Adding carousel-->
    <h2>What our customers say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!--Wrapper for sliders-->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"I love how you guys doing stuff! Respect!"<br>
                    <span>2Pack</span>
                </h4>
            </div>
            <div class="item">
                <h4>"Wow! I am so proud of your job!"<br>
                    <span>Donald Trump, 45th U.S President</span>
                </h4>
            </div>
            <div class="item">
                <h4>"Excellent Results! That's what I collect! Thanks a lot"<br>
                    <span>Pope Paul III</span>
                </h4>
            </div>        
        </div>
        <!--Left and right controls-->
        <a class="left carousel-control"  href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a> 
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>   
    </div>
</div>
<!--PRICING SECTION-->
<div id="pricing" class="container-fluid">
    <div class="text-center">
        <h2>Pricing</h2>
        <h4>Choose a payment plan that works for you</h4>
    </div>
    <div class="row slideanim">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Basic</h1>
                </div>
                <div class="panel-body">
                    <p><strong>20</strong>Lorem</p>
                    <p><strong>15</strong>Ipsum</p>
                    <p><strong>5</strong>Dolor</p>
                    <p><strong>2</strong>Sit</p>
                    <p><strong>Endless</strong>Amet</p>
                </div>
                <div class="panel-footer">
                    <h3>$19</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Pro</h1>
                </div>
                <div class="panel-body">
                    <p><strong>50</strong>Lorem</p>
                    <p><strong>25</strong>Ipsum</p>
                    <p><strong>10</strong>Dolor</p>
                    <p><strong>5</strong>Sit</p>
                    <p><strong>Endless</strong>Amet</p>
                </div>
                <div class="panel-footer">
                    <h3>$29</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Premium</h1>
                </div>
                <div class="panel-body">
                    <p><strong>100</strong>Lorem</p>
                    <p><strong>50</strong>Ipsum</p>
                    <p><strong>25</strong>Dolor</p>
                    <p><strong>10</strong>Sit</p>
                    <p><strong>Endless</strong>Amet</p>
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
    </div>  
</div>

<!--CONTACTING SECTION-->
<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center text-uppercase">Contact</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours. </p>
            <p><span class="glyphicon glyphicon-map-marker"></span>
                Mykolaiv, Ukraine</p>
            <p><span class="glyphicon glyphicon-phone"></span>
                +380687182647</p>
            <p><span class="glyphicon glyphicon-envelope"></span>
                avanture_boy@mail.ru</p>
        </div>
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>                 
            </div>
            <textarea class="form-control" name="comments" id="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;width:100%;"></div>
<script>
    function myMap() {
    var myCenter = new google.maps.LatLng(46.970713, 32.021419);
    var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    var marker = new google.maps.Marker({position:myCenter});
    marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXv1OFOCyvR4ueQBLmYiFjRbpEF1sTUU0&callback=myMap"></script>

<!--FOOTER SECTION-->
<footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p><a href="http://arhis.tk">ArhiStyle Studio 2018</a></p>
</footer>
<script src="js/smooth_scrolling.js"></script>
<script src="js/slideanim.js"></script>

</body>
</html>